<hr />
<div class="row">
    <div class="span12" style="text-align: center">
        <%= image_tag("aspect_logo.png", alt: "Aspect logo") %>
    </div>
</div>
<div class="hero-unit">
    <p>
        <b>Aspects</b> is the first ever inter-device multiplayer tower war game to be introduced to the mobile platform. Players do not only defend against waves of enemies, but also send forces to defeat their opponents.
    </p>
    <p><b>Release Date:</b> Aspects will be available on the Apple App Store end of 2013.</p>
    <p><b>Platform:</b> iOS devices, iOS 5 and above</p>
</div>
<hr />
<div class="row">
    <div class="span12">
        <div class="flex-video">
            <iframe class="video" src="http://www.youtube.com/embed/ge0oR8AZ3Qw" frameborder="0" allowfullscreen="">
                <html lang="en" dir="ltr">
            </iframe>
        </div>
    </div>
</div>
</div>

