<hr />
<div class="row">
    <div class="span12" style="text-align: center">
        <%= image_tag("aspect_logo.png", alt: "Aspect logo") %>
    </div>
</div>
<div class="gap2"></div>
<div class="row">
    <div class="span12">
        <div class="flex-video">
            <iframe class="video" src="http://www.youtube.com/embed/ge0oR8AZ3Qw" frameborder="0" allowfullscreen="">
                <html lang="en" dir="ltr">
            </iframe>
        </div>
    </div>
</div>
</div>

