<% provide(:title, @user.name) %>
<div class="block8 centralized">
    <aside class="span5">
        <%= render 'shared/user_info', user: @user %>
    </aside>
    <div class="span7">
        <% if @user.aspect_topics.any? %>
        <h3>No. of topics: <%= @user.aspect_topics.count %></h3>
        <ol class="topics">
            <%= render @topics %>
        </ol>
        <%= will_paginate @topics %>
        <% end %>
    </div>
</div>