@import "bootstrap";

$grayLight: #bbb;
$white: #fff;
$grayMediumLight: #eaeaea;

$pageWidth: 1200px;

html {
    width: auto !important;
    overflow-x: hidden !important;
}
body {
    width: auto !important;
    overflow-x: hidden !important;
}
     
.navbar-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 5px;
}

.flex-img {
    margin-bottom: 20px;
}

.flex-gap {
    margin-top: 120px;
}

.flex-mini-gap {
    margin-top: 60px;
}
            
.carousel {
    margin: auto;
    width: $pageWidth;
}

.carousel .container {
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel-caption {
    position: static;
    background-color: transparent;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}

.featurette {
    padding-top: 50px;
    overflow: hidden;
    .featurette-image {
        margin-top: -60px;
    }
    
    .pull-right {
        margin-left: 40px;
    }
    
    .pull-left {
        margin-right: 40px;
    }
}

hr {
    padding-top: 20px;
    padding-bottom: 20px;
}

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 10px;
}

.carousel-caption h1, .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    li {
        line-height: 30px;
    }
}
            
.carousel-caption .btn {
    margin-top: 15px;
}

.video {
    width: 640px !important; 
    height: 390px !important;
    display: block;
    margin: 0 auto;
    border: 0;
    position: static !important;
}

.hero-unit {
    padding: 25px 50px 10px !important;
    margin-top: 10px;
    font-size: 21px !important;
}

.avatars {
    text-align: center;
    img {
    }   
}

.concept_arts {
    text-align: center;
    img {
        padding-bottom: 10px;
    }
}

.maps {
    text-align: center;
}

.card {
    background-color: $white;
    border: 2px solid $grayMediumLight;
    margin: -5px;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0 3px 15px 3px #888;
}



/* RESPONSIVE CSS
-------------------------------------------------- 
*/

@media (max-width: 1200px) {
    .carousel {
        margin: auto;
        width: 100%;
    }
    
    .carousel-caption h1 {
        font-size: 30px !important;
    }
    .carousel-caption .lead, .carousel-caption .btn {
        font-size: 18px !important;
    }
    
    .avatars img {
    }
    
    .concept_arts img {
        height: 200px !important;
    }
    
    .maps img {
        height: 400px !important;
    }
    
    .flex-gap {
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    .carousel {
        margin: auto;
        width: 100%;
        top: 50px;
        margin-bottom: 60px !important;
    }
    
    .carousel .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    
    .carousel-caption {
        position: static !important;
        margin-top: 20px;
        max-width: 100% !important;
        width: 100% !important;
    }
    .carousel-caption h1 {
        font-size: 23px !important;
        margin-right: 20px;
    }
    .carousel-caption .lead, .carousel-caption .btn {
        font-size: 16px !important;
        margin-right: 20px;
        margin-top: 10px;
    }
    .carousel-control {
        top: 180px !important;
    }
    
    #logo img {
        opacity: 0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */
    }
    
    .video {
        width: 100% !important;
        height: 100% !important;
    }
    
    .flex-video {
        padding-bottom: 57.25%;
        height: 0;
    }
    
    .hero-unit {
        padding: 20px !important;
    }
    
    .marketing-btn {
        display: block;
    }
    
    .avatars {
        img {
        }   
    }
    
    .concept_arts img {
        width: 70% !important;
        height: 70% !important;
    }
    
    .maps img {
        padding-bottom: 10px;
    }
    
    .card {
        margin-top: 20px;
    }
    
    .flex-img {
        margin: 0 auto 20px !important;
        display: block;
        float: none !important;
    }
    
    hr {
        padding: 0px;
    }
    
    .featurette {
        padding-top: 0px;
        .featurette-image {
            height: 60% !important;
            max-height: 60% !important;
            margin-top: 0px;
            margin-left: 0px;
        }
    }
    
    .flex-gap {
        margin-top: 20px;
    }
    
    .flex-mini-gap {
        margin-top: 0px;
    }
}

#marketing-btns {
    text-align: center;
    margin-bottom: 15px;
}

.marketing-btn {
    margin: 5px;
}


@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#logo {
    float: left;
}

#main-content {
    margin-top: 10px;
    padding-bottom: 60px;
    h1 {
        text-align: center;
    }
}

.gap1 {
    height: 10px;
}
.gap2 {
    height: 20px;
}
.gap3 {
    height: 30px;
}
.gap4 {
    height: 40px;
}


/* content */


.gravatar {
    float: left;
    
}

.small-gravatar {
    float: left;
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 5px !important;
}

/* topics --start */
.topics {
    margin-top: 15px;
    list-style: none;

    li {
        min-height: 120px;
    }
}

.content {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comment-content {
    font-size: 1.0em;
}

h1 {
    padding-bottom: 10px;
}

.white-panel {
    background-color: $grayMediumLight;
    border: 1px solid #dadada;
    padding: 40px;
    margin-bottom: 40px;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    line-height: 1.6em !important;
}

/* forms --start */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100% !important;    
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    @include box_sizing;
}

label {
    font-size: 15px !important;
    font-weight: bold !important;
}

input {
    height: auto !important;
}

input.btn {
    margin-top: 15px;
}

textarea {
    width: 100% !important;
}

#error_explanation {
    color: #f00;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

/* forms --end */

.comment-post-form {
    textarea {
        height: 50px !important;
    }
}

.user-name {
    color: #0081cc;
    font-weight: bold;
}

.date {
    color: gray;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}