@import "bootstrap";

$grayLight: #bbb;
$white: #fff;
$pageWidth: 960px;

/* universal */

html {
    overflow-y: scroll;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $grayLight;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}



/* header */

#top {
    background-image: image-url("topnav_bg.png");
    height: 73px;
    position: relative;
    z-index: 1;    
}

.width-constraint {
    width: $pageWidth;
    margin: auto;
}

#logo {
    float: left;
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

ul.list-nav {
    list-style: none;
    margin: 20px;
    float: right;
    font-size: 1.3em;
    li {
        float: left;
        a {
            text-decoration: none;
            padding: 20px 0px 0px 50px;
            color: $grayLight;
            text-align: center;
            float: left;
            &:hover {
                color: $white;
            }
        }
    }
}

/* banner */
$bannerHeight: 295px;
#banner {
    background: image-url("banner.jpg") #131313 center top no-repeat;
    height: $bannerHeight;
    .banner-content {
        width: 50%;
        margin: auto;
        height: $bannerHeight;
        text-align: center;
        padding-top: 250px;
    }
}

#apple-store-button {
    width: 136px; 
    height: 49px; 
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/* social icons */
#social-icons {
    background: image-url("socialbuttons_bg.png") no-repeat;
    width: 216px;
    height: 72px;
    padding-top: 14px;
    padding-left: 10px;
    a {
        float: left;
        padding-left: 1px;
        padding-right: 1px;
    }
}

/* content */
.content-wrapper {
    display: block;
    padding: 10px;
}


