@import "bootstrap";

$grayLight: #bbb;
$white: #fff;
$grayMediumLight: #eaeaea;

$pageWidth: 1200px;

     
.navbar-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 5px;
}
            
.carousel {
    margin: auto;
    width: $pageWidth;
}

.carousel .container {
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel-caption {
    position: static;
    background-color: transparent;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}

.carousel-caption h1, .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
            
.carousel-caption .btn {
    margin-top: 15px;
}

/* RESPONSIVE CSS
-------------------------------------------------- 
*/

@media (max-width: 1200px) {
    .carousel {
        margin: auto;
        width: 100%;
    }
    
    .carousel-caption h1 {
        font-size: 30px !important;
    }
    .carousel-caption .lead, .carousel-caption .btn {
        font-size: 18px !important;
    }
}

@media (max-width: 767px) {
    .carousel {
        margin: auto;
        width: 100%;
        top: 50px;
        margin-bottom: 60px !important;
    }
    
    .carousel .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    
    .carousel-caption {
        position: static !important;
        margin-top: 20px;
        max-width: 100% !important;
        width: 100% !important;
    }
    .carousel-caption h1 {
        font-size: 23px !important;
        margin-right: 20px;
    }
    .carousel-caption .lead, .carousel-caption .btn {
        font-size: 16px !important;
        margin-right: 20px;
        margin-top: 10px;
    }
    .carousel-control {
        top: 180px !important;
    }
    
    #logo img {
        opacity: 0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */
    }
}

#marketing-btns {
    text-align: center;
    margin-bottom: 15px;
}

.marketing-btn {
    margin: 5px;
}


@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#logo {
    float: left;
}

#main-content {
    margin-top: 10px;
    h1 {
        text-align: center;
    }
}




/* content */


.gravatar {
    float: left;
    
}

.small-gravatar {
    float: left;
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 5px !important;
}

/* topics --start */
.topics {
    margin-top: 15px;
    list-style: none;

    li {
        min-height: 120px;
    }
}

.content {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comment-content {
    font-size: 1.0em;
}


/* forms --start */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;    
    padding: 10px;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

textarea {
    width: 100% !important;
}

#error_explanation {
    color: #f00;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

/* forms --end */

.comment-post-form {
    textarea {
        height: 50px !important;
    }
}

.user-name {
    color: #0081cc;
    font-weight: bold;
}

.date {
    color: gray;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}