<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <%= image_tag("banners/banner.jpg", alt: "") %>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Aspect - Multiplayer tower war game</h1>
                    <div class="lead">
                        <ul>
                            <li>Over 19 unique single-player levels</li>
                            <li>16 unique Totems to defend your land</li>
                            <li>12 unique Phantoms to destroy enemies</li>
                            <li>Fight a friend over Wifi or Bluetooth</li>
                        </ul>
                    </div>
                    <!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> -->
</div>
<div class="container">
    <div id="marketing-btns">
        <span class="marketing-btn"><%= image_tag("apple_store_btn.png", alt: "Apple Store button") %></span>
        <span class="marketing-btn"><%= link_to image_tag("fb_btn.png", alt: "Facebook button"), "https://www.facebook.com/sabatongames", target: "_blank" %></span>
        <span class="marketing-btn"><%= link_to image_tag("twitter_btn.jpg", alt: "Twitter button"), "https://twitter.com/sabatongames", target: "_blank" %></span>
    </div>
</div>
