<div id="banner">
    <div class="banner-content">
        <%= render 'layouts/social_icons' %>
        <a id="apple-store-button" href="https://itunes.apple.com/" target="_blank"></a>
    </div>
</div>
