<div id="social-icons">
    <%= link_to image_tag("facebook_button.png", alt: "Facebook"), '#' %>
    <%= link_to image_tag("youtube_button.png", alt: "Youtube"), '#' %>
    <%= link_to "Our forum", '#', class: "btn btn-large btn-primary" %>
</div>